<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>JS</title>
</head>
<body>
    <header>
        <h1>Output from JavaScript - Standard dialogs</h1>
        <a href="https://twitter.com/bella_mrx" class="fa fa-twitter"><span class="link">@bella_mrx</span></a>
        <a href="https://github.com/BellaMrx" class="fa fa-github"><span class="link">BellaMrx</span></a>
    </header>
    <section>
        <p><span class="code-text">prompt()</span>, is the dialog for entering text.</p>
        <img class="bigimg" src="images/promptCode.png" alt="Code">
        <br>
        <p>Output:</p>
        <img src="images/prompt1.JPG" alt="Code">
        <img src="images/prompt2.JPG" alt="Code">
        <br>
    </section>

</body>
</html>