<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>JS</title>
</head>
<body>
    <header>
        <h1>The <span class="code-text">&lt;noscript&gt;</span> for no JavaScript</h1>
        <a href="https://twitter.com/bella_mrx" class="fa fa-twitter"><span class="link">@bella_mrx</span></a>
        <a href="https://github.com/BellaMrx" class="fa fa-github"><span class="link">BellaMrx</span></a>
    </header>
    <section>
        <p>If the user has JavaScript disabled, or the web browser does not support JavaScript, a special hint can be given to the user with <span class="code-text">&lt;noscript&gt;</span>.</p>
        <img class="bigimg" src="images/noscript.png" alt="Code">
        <br>
        <p>If JavaScript is enabled, the code is automatically executed and the hint is not passed to the user.</p>
        <p>hello.js</p>
        <img src="images/hellojs.png" alt="Code">
        <br>
    </section>

</body>
</html>